// UTILITY MIXINS
// --------------------------------------------------

// For clearing floats like a boss h5bp.com/q
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// Center-align a block level element
// ----------------------------------
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// ROUND CORNERS
// --------------------------------------------------

// .border-radius(VALUE,VALUE,VALUE,VALUE);
@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
  -webkit-border-top-right-radius : $topright;
  -webkit-border-bottom-right-radius : $bottomright;
  -webkit-border-bottom-left-radius : $bottomleft;
  -webkit-border-top-left-radius : $topleft;
  -moz-border-radius-topright : $topright;
  -moz-border-radius-bottomright : $bottomright;
  -moz-border-radius-bottomleft : $bottomleft;
  -moz-border-radius-topleft : $topleft;
  border-top-right-radius : $topright;
  border-bottom-right-radius : $bottomright;
  border-bottom-left-radius : $bottomleft;
  border-top-left-radius : $topleft;
  -webkit-background-clip : padding-box;
  -moz-background-clip : padding;  
  background-clip : padding-box; 
}

// .rounded(VALUE);
@mixin rounded($radius:4px) {
  -webkit-border-radius : $radius;
  -moz-border-radius : $radius;
  border-radius : $radius; 
}

// TYPOGRAPHY
// --------------------------------------------------

// Full-fat vertical rhythm
// ------------------------
@mixin font-size($size) {
  font-size: 0px + $size;
  font-size: 0rem + ($size / $doc-font-size);
  line-height: 0 + round(($doc-line-height / $size*10000) / 10000);
  margin-bottom: 0px + $doc-line-height;
  margin-bottom: 0rem + ($doc-line-height / $doc-font-size);
}

// Just the REMs
// -------------
@mixin font-rem($size) {
  font-size: 0px + $size;
  font-size: 0rem + ($size / $doc-font-size);
}

// Just font-size and line-height
// ------------------------------
@mixin font($size) {
  font-size: 0px + $size;
  font-size: 0rem + ($size / $doc-font-size);
  line-height: 0 + round(($doc-line-height / $size*10000) / 10000);
}

// GRADIENTS
// --------------------------------------------------

@mixin horizontal($startColor : $color_gallery, $midColor :  $color_stack, $endColor : $color_gallery) {
  background-color: $endColor;
  background-image  : -webkit-linear-gradient(left, $startColor, $midColor, $endColor); 			 // Safari 5.1+, Chrome 10+
  background-image  : -moz-linear-gradient(left, $startColor, $midColor, $endColor); 					 // FF 3.6+
  background-image  : -ms-linear-gradient(left, $startColor, $midColor, $endColor); 					 // IE10
  background-image  : -o-linear-gradient(left, $startColor, $midColor, $endColor); 						 // Opera 11.10
  background-image  : linear-gradient(left, $startColor, $midColor, $endColor); 							 // W3C
  background-repeat : repeat-x; 
}

// TRANSFORMATIONS
// --------------------------------------------------

// .transition(PROPERTY DURATION DELAY(OPTIONAL) TIMING-FINCTION);
@mixin transition($transition) {
  -webkit-transition : $transition;
  -moz-transition : $transition;
  -ms-transition : $transition;
  -o-transition : $transition;
  transition : $transition; 
}

// prompt

@mixin prompt($type, $fw-icon, $icon-weight: 900) {
  .prompt-#{$type} {
    background-color: var(--prompt-#{$type}-bg);

    &::before {
      content: $fw-icon;
      color: var(--prompt-#{$type}-icon-color);
      font-weight: $icon-weight;
    }
  }
}

@mixin code-syntax {
  /* syntax highlight colors from https://raw.githubusercontent.com/jwarby/pygments-css/master/monokai.css */
  .highlight pre { background-color: var(--highlight-bg-color); }
  .highlight .hll { background-color: var(--highlight-bg-color); }
  .highlight .c { color: #75715e; } /* Comment */
  .highlight .err { color: #960050; background-color: #1e0010; } /* Error */
  .highlight .k { color: #66d9ef; } /* Keyword */
  .highlight .l { color: #ae81ff; } /* Literal */
  .highlight .n { color: #f8f8f2; } /* Name */
  .highlight .o { color: #f92672; } /* Operator */
  .highlight .p { color: #f8f8f2; } /* Punctuation */
  .highlight .cm { color: #75715e; } /* Comment.Multiline */
  .highlight .cp { color: #75715e; } /* Comment.Preproc */
  .highlight .c1 { color: #75715e; } /* Comment.Single */
  .highlight .cs { color: #75715e; } /* Comment.Special */
  .highlight .ge { color: inherit; font-style: italic; } /* Generic.Emph */
  .highlight .gs { font-weight: bold; } /* Generic.Strong */
  .highlight .kc { color: #66d9ef; } /* Keyword.Constant */
  .highlight .kd { color: #66d9ef; } /* Keyword.Declaration */
  .highlight .kn { color: #f92672; } /* Keyword.Namespace */
  .highlight .kp { color: #66d9ef; } /* Keyword.Pseudo */
  .highlight .kr { color: #66d9ef; } /* Keyword.Reserved */
  .highlight .kt { color: #66d9ef; } /* Keyword.Type */
  .highlight .ld { color: #e6db74; } /* Literal.Date */
  .highlight .m { color: #ae81ff; } /* Literal.Number */
  .highlight .s { color: #e6db74; } /* Literal.String */
  .highlight .na { color: #a6e22e; } /* Name.Attribute */
  .highlight .nb { color: #f8f8f2; } /* Name.Builtin */
  .highlight .nc { color: #a6e22e; } /* Name.Class */
  .highlight .no { color: #66d9ef; } /* Name.Constant */
  .highlight .nd { color: #a6e22e; } /* Name.Decorator */
  .highlight .ni { color: #f8f8f2; } /* Name.Entity */
  .highlight .ne { color: #a6e22e; } /* Name.Exception */
  .highlight .nf { color: #a6e22e; } /* Name.Function */
  .highlight .nl { color: #f8f8f2; } /* Name.Label */
  .highlight .nn { color: #f8f8f2; } /* Name.Namespace */
  .highlight .nx { color: #a6e22e; } /* Name.Other */
  .highlight .py { color: #f8f8f2; } /* Name.Property */
  .highlight .nt { color: #f92672; } /* Name.Tag */
  .highlight .nv { color: #f8f8f2; } /* Name.Variable */
  .highlight .ow { color: #f92672; } /* Operator.Word */
  .highlight .w { color: #f8f8f2; } /* Text.Whitespace */
  .highlight .mf { color: #ae81ff; } /* Literal.Number.Float */
  .highlight .mh { color: #ae81ff; } /* Literal.Number.Hex */
  .highlight .mi { color: #ae81ff; } /* Literal.Number.Integer */
  .highlight .mo { color: #ae81ff; } /* Literal.Number.Oct */
  .highlight .sb { color: #e6db74; } /* Literal.String.Backtick */
  .highlight .sc { color: #e6db74; } /* Literal.String.Char */
  .highlight .sd { color: #e6db74; } /* Literal.String.Doc */
  .highlight .s2 { color: #e6db74; } /* Literal.String.Double */
  .highlight .se { color: #ae81ff; } /* Literal.String.Escape */
  .highlight .sh { color: #e6db74; } /* Literal.String.Heredoc */
  .highlight .si { color: #e6db74; } /* Literal.String.Interpol */
  .highlight .sx { color: #e6db74; } /* Literal.String.Other */
  .highlight .sr { color: #e6db74; } /* Literal.String.Regex */
  .highlight .s1 { color: #e6db74; } /* Literal.String.Single */
  .highlight .ss { color: #e6db74; } /* Literal.String.Symbol */
  .highlight .bp { color: #f8f8f2; } /* Name.Builtin.Pseudo */
  .highlight .vc { color: #f8f8f2; } /* Name.Variable.Class */
  .highlight .vg { color: #f8f8f2; } /* Name.Variable.Global */
  .highlight .vi { color: #f8f8f2; } /* Name.Variable.Instance */
  .highlight .il { color: #ae81ff; } /* Literal.Number.Integer.Long */
  .highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
  .highlight .gd { color: #f92672; background-color: #561c08; } /* Generic.Deleted & Diff Deleted */
  .highlight .gi { color: #a6e22e; background-color: #0b5858; } /* Generic.Inserted & Diff Inserted */

  .highlight {
    .gp { color: #818c96; }
  }

  pre { color: #bfbfbf; } /* override Bootstrap */
}

@mixin ml-mr($value) {
  margin-left: $value;
  margin-right: $value;
}